<p id="notice"><%= notice %></p>

<h1>Энциклопедия</h1>

<% @articles.each do |article| %>

<div class="">
  <%= article.type %>
  <%= article.head %>
  <%= image_tag article.cover.url || "", width: 200 %>
  <%= image_tag article.squarecover.url || "", width: 100%>
  <%= link_to 'Show', article %>
  <%= link_to 'Edit', edit_layout_path(article) %>
  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% end %>
<br>
